body {
    background-color: #ffffff;
}
h1 {
    text-align: center;
    margin: 60px 0 60px 0
}
.turnIndicator {
    text-align: center;
    font-size: 30px;
    margin: 100px 0 0 0;
}
.board {
    display: block;
    margin: 50px auto 0 auto;
    width: 540px;
    height: 540px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(206, 206, 206);
    transition: border 0.2s;
}
.board-quarter {
    display: inline-block;
    width: 270px;
    height: 270px;

    outline: 1px solid red;
}
.board-row {
    display: block;
    width: 270px;
    height: 90px;
}
.board-square {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 10px;
    text-align: center;
    border-radius: 50%;
    border: none;
}
.board-square:hover {
    background-color: #dbdbdb;
}
